# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

.idea
.jekyll-metadata

# Unreleased HTB
assets/img/htb/sauna
assets/img/htb/traceback
assets/img/htb/remote
assets/img/htb/blunder