# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

.idea
.jekyll-metadata

# Unreleased HTB
assets/img/htb/remote
assets/img/htb/blunder
assets/img/htb/magic
_drafts/htb-magic-msf.md

# Ignore these for now
assets/img/htb/bounty
assets/img/htb/solidstate
assets/img/htb/sauna
